.upcoming-movies-div-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.movie-card {
  margin: 15px;
  padding: 5px;
  box-shadow: 0px 4px 6px 8px rgba(223, 217, 217, 0.534);

  width: 220px;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.card-image {
  height: 65%;
  width: 100%;
  background-color: #9b9b9b;
}
.card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-details {
  padding-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: inherit;
}

.card-title-and-rating-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-title {
  /* border: 1px solid orange; */
  font-weight: bolder;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.description-container {
  margin-top: 10px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
